<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="addEmployee()"></button>
        </ng-template>
    </p-toolbar>
    <p-table [value]="listOfEmployee" responsiveLayout="scroll" styleClass="p-datatable-striped" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,25]">
        <ng-template pTemplate="header">
            <tr>
                <th>Emp Id</th>
                <th>Emp Name</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Date Of Joining</th>
                <th>Salary</th>
                <th>Shift</th>
                <th>Created Source</th>
                <th>Created SrcType</th>
                <th>Created Date&Time</th>
                <th>Modified Source</th>
                <th>Modified SrcType</th>
                <th>Modified Date&Time</th>
                <th [ngStyle]="{'width':'120px'}">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listOfEmployee>
            <tr style="height:10px">
                <td>{{listOfEmployee.employeeId}}</td>
                <td>{{listOfEmployee.firstName}}</td>
                <td>{{listOfEmployee.dob}}</td>
                <td>{{listOfEmployee.gender}}</td>
                <td>{{listOfEmployee.phoneNumber}}</td>
                <td>{{listOfEmployee.dateOfJoining}}</td>
                <td>{{listOfEmployee.salary}}</td>
                <td>{{listOfEmployee.shift}}</td>
                <td>{{listOfEmployee.createdSource}}</td>
                <td>{{listOfEmployee.createdSourceType}}</td>
                <td>{{listOfEmployee.createdDttm}}</td>
                <td>{{listOfEmployee.modifiedSource}}</td>
                <td>{{listOfEmployee.modifiedSourceType}}</td>
                <td>{{listOfEmployee.modifiedDttm}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" ></button>&nbsp;
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEmployee(listOfEmployee.employeeId)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="empDialog" [style]="{width: '800px'}" header="Add New Employee" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field p-col-12 p-md-4">
            <label for="employeeId">Employee Id</label>
            <input type="text" pInputText id="employeeId" [(ngModel)]="employee.employeeId" required />
            <small class="p-invalid" *ngIf="submitted && !employee.employeeId">Name is required.</small>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="firstName">First Name</label>
            <input type="text" pInputText id="firstName" (ngModel)="'employee.firstName'" required />
            <small class="p-invalid" *ngIf="submitted && !employee.firstName">First Name is required.</small>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="dob">Date of Birth</label>
            <p-calendar (ngModel)="'employee.dob'" [showIcon]="true" inputId="dob"></p-calendar>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label class="p-mb-3">Gender</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="gender" value="Male" (ngModel)="'employee.gender'"></p-radioButton>
                    <label for="category1">Male</label>&nbsp;
                    <p-radioButton id="category2" name="gender" value="Female" (ngModel)="'employee.gender'"></p-radioButton>
                    <label for="category2">Female</label>
                </div>
            </div>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" pInputText id="phoneNumber" (ngModel)="'employee.phoneNumber'" required />
            <small class="p-invalid" *ngIf="submitted && !employee.phoneNumber">Phone Number is required.</small>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="dateOfJoining">Date Of Joining</label>
            <input type="text" pInputText id="dateOfJoining" (ngModel)="'employee.dateOfJoining'" />
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="salary">Salary</label>
            <input type="text" pInputText id="salary" (ngModel)="'employee.salary'"/>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="shift">Shift</label>
            <input type="text" pInputText id="shift" (ngModel)="'employee.shift'" />
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="createdSource">Created Source</label>
            <input type="text" pInputText id="createdSource" (ngModel)="'employee.createdSource'"/>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="createdDttm">Created Date&Time</label>
            <input type="text" pInputText id="createdDttm" (ngModel)="'employee.createdDttm'"/>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="modifiedSource">Modified Source</label>
            <input type="text" pInputText id="modifiedSource" (ngModel)="'employee.modifiedSource'"/>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="modifiedDttm">Modified Date&Time</label>
            <input type="text" pInputText id="modifiedDttm" (ngModel)="'employee.modifiedDttm'"/>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addEmployees()"></button>
    </ng-template>

</p-dialog>
    
